table{
    width: 280px;
    margin: 50px auto;
    background: powderblue;
    border-color: lightsalmon;
    border-style: groove;
    border-radius: 10px;
    padding: 10px;
}
.heading{
    color: hotpink;
    font-size: 170%;
    text-align: center;
    font-weight: bold;
}
#input, #answer {
    width: 260px;
    height: 50px;
    font-size: 210%;
    text-align: right;
    border: coral;
}
#input{
     border-radius: 5px 5px 0px 0px;
     box-shadow: powderblue;
     color: coral;
 }
#answer{
    border-radius: 0px 0px 5px 5px;
    box-shadow: powderblue;
    color: coral;
}
input[type=button] {
    height: 60px;
    width: 60px;
    color: hotpink;
    font-weight: bold;
    background: #fffbe4;
    margin: 1px;
    border-radius: 10px;
}
input[type=button]:hover{
    background: #f0cfc7;
    cursor: pointer;
}
